* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333; /* Dark background for focus */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.main-wrapper {
    background-color: white;
    width: 100%;
    max-width: 650px; /* Standard portrait width */
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

/* Header Styling */
.header {
    background-color: #8b2222; /* Specific Red from Image */
    color: white;
    padding: 50px 40px 50px 40px;
    position: relative;
    width: 100%;
}

.header  img {
    width: 80px;
    margin-bottom: 20px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
}

.sub-title {
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 1000;
    color: #000;
    
}
.profile-circle{
    margin-top: -5%;
}

.description p{
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
    opacity: 0.95;
    width: 100%;
    
}

/* Slanted cut design */
.diagonal-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 70px 100px;
    border-color: transparent transparent #ffffff transparent;
}

/* Content Area */
.content-container {
    padding: 40px 30px;
}

.award-block {
    margin-bottom: 60px;
}

.category-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #8b2222;
    margin-right: 15px;
}

.items-row {
    display: flex;
    justify-content: space-between;
}

.item {
    text-align: center;
    flex: 1;
}

.item img {
    width: 65px;
    margin-bottom: 10px;
}

.red-text {
    color: #8b2222;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.black-text {
    font-size: 10px;
    font-weight: 700;
}

/* Footer Styling */
.footer {
    background-color: #8b2222;
    color: white;
    padding: 70px 40px;
    position: relative;
}

.diagonal-top-left {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 70px 100px;
    border-color: transparent transparent #ffffff transparent;
}


.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
}